.body {
    background-color: black;
}


.header-main {
    z-index: 9999;
    width: 100%;
    height: 80px;
    opacity: 0%;
    background-color: black;
    position: fixed;
    transition: ease-in-out 250ms;
}

.header-main:hover {
    opacity: 100%;
    background-color: black;
}

.hero-main {
    width: 100%;
    height: 750px;
    background-image: url("https://cdn.discordapp.com/attachments/1027029690327765054/1290722577618178058/file-c6VPfCgosobq8IaG6AjJdFtY.png?ex=66fd7e92&is=66fc2d12&hm=4a64d0570bed8ce1d51a5837e375f28562183c0ffdc6c58d9bb4bbd47cb40470&");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
   

}

.subhero-main {
    width: 100%;
    height: 200px;
    background-color: black;
}
